/.metadata/
*.rar
.svn/
.tmp_versions/
bit/
*.cmd
*.o
*.bit
*.vscode/
moc*
build*/
*.pro*
*.symvers
*.ko
*.mod.c
!8g/
.idea/
18gnewnqt/
BLE_SPP/
SA1010B/
SA1030B/
SA2031A/
SA2180/
SG1030A-V3.1.1.190626.1/
SignalGenerator/
VM_UBUNTU_12.04_32BIT/
androidApplication/
app/
code/
doc/
field/
hello/
java/
key/
linux-2.6.11/
myapp/
rm200/
source_project/
tftp/
visualstudio/
armqt.txt
.gitignore
.cproject
.settings/

